.notion-breadcrumb__item:first-child {
  font-weight: bold;
}

.notion-header {
  display: none !important;
}

h1 {
  margin-top: 96px !important;
}

.notion-collection__header-wrapper {
  display: none !important;
}

.notion-collection-gallery {
  padding: 0;
  border: none !important;
  grid-template-columns: 1fr !important;
}

.notion-collection-card {
    padding: 24px !important;
}

.notion-property__title {
    font-size: 1.33rem !important;
}

.notion-property__title__icon-wrapper {
  display: none !important;
}

@media (max-width: 600px) {
  
  h1 {
    margin-top: 32px !important;
  }
}
